@import '@/styles/globals-var.scss';

.LYT-banner {
	margin-top: 3rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: url('/photos/bg/bg-2.jpg') no-repeat center center;
	background-size: 100%;
	object-fit: cover;
	height: 30rem;
	border-radius: 0 0 25px 25px;
}

.banner-text {
	height: 30rem;
	display: flex;
	justify-content: center;
	text-align: center;
	font-weight: 700;
	font-size: 80px;
	margin-top: 10rem;
	text-shadow: -1px -1px 0 $primaryText, 1px -1px 0 $primaryText, -1px 1px 0 $primaryText,
		1px 1px 0 $primaryText;
	color: $p-700;
}

.newsContent {
	display: flex;
	button {
		color: $primaryText;
	}
	button:hover {
		color: $p-50;
	}
}

@media (max-width: 767px) {
	.LYT-banner {
		height: 14rem;
		background-size: cover;
	}

	.banner-text {
		font-size: 40px;
	}
	.newsContent {
		font-size: 40px;
		margin-bottom: 6rem;
	}
}
